name: Django Medium CI

on:
  push:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Setup Python
      uses: actions/setup-python@v4
      with:
        python-version: "3.10"

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    - name: Set environment variables
      run: |
        echo DJANGO_SECRET_KEY=your_secret_key >> $GITHUB_ENV
        echo DEBUG=False >> $GITHUB_ENV

        

    - name: Django system check
      run: python manage.py check

    - name: Run Black (format check)
      run: black --check .

    - name: Run Flake8
      run: flake8 .

    - name: Security Scan (Bandit)
      run: bandit -r .

    - name: Apply migrations (dry run check)
      run: python manage.py migrate --noinput

    - name: Collect static files
      run: python manage.py collectstatic --noinput

    - name: Upload static artifacts
      uses: actions/upload-artifact@v3
      with:
        name: staticfiles
        path: staticfiles/
