name: Django Medium CI

on:
  push:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Setup Python
      uses: actions/setup-python@v4
      with:
        python-version: "3.10"

    - name: istall all dependancies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
    
    - name: set env variables 
      run: | 
        echo "DJANGO_SECRET_KEY=your_secret_key" >> $GITHUB_ENV
        echo "DJANGO_DEBUG=True" >> $GITHUB_ENV
        echo "DJANGO_ALLOWED_HOSTS=localhost

    - name: django check 
      run: |
        python manage.py check
