on:
    push:
    pull_request:
        branches:
            - main 

jobs:
    test:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v3

            
            - name: print hello world
              run: echo "Hello, world!"
