on:
    push:
    pull_request:
        branches:
            - main 

jobs:
    test:
        runs-on: ubuntu-latest
        steps:

            - name: print hello world
              run: echo "Hello, world!"

            - name: Check out repository code
              uses: actions/checkout@v3

            - name: ls
              run: ls